.call-to-action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 70px 130px;
}

.cta-area{
    background-color: #3882f6;
    padding: 40px 120px;
    color : white;
    border: 0 none;
    border-radius: 8px;
}

.cta-area-in{
    display: flex;
    gap : 120px;
    align-items: center;
}

.cta-big{
    font-size: 20px;
    font-weight: 600;
}
.cta-small{
    font-size: 14px;
    font-weight: 300;
}
.cta{
    background-color: #3882f6;
    border: 1px solid white;
    color : white;
    border-radius: 5px;
    padding : 6px 28px;
    font-weight: 500;
}
