.quote-section{
    background-color: #e5e7eb;
    padding : 100px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color : #1f2937;
}
.quote-author{
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
}